# Docker local
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=

# Deploy (Render - backend)
# MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/financas
# Deploy (Vercel - frontend)
# VITE_API_BASE_URL=https://SEU-BACKEND.onrender.com/api
